Source: co-driver
Section: unknown
Priority: optional
Maintainer: root <>
Build-Depends: cmake, debhelper-compat (= 12), git
Standards-Version: 4.5.0
Homepage: <insert the upstream URL, if relevant>

Package: co-driver
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: CANOpen Backend Driver

Package: canopennode-tools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: cli tools for interfacing CO-Network
