Source: canopennode
Section: utils
Priority: optional
Maintainer: root <>
Build-Depends: cmake, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/CANopenNode/CANopenDemo

Package: canopennode-tools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: tools and testing for CANopenNode

